<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <button type="submit" onclick="sample1()">클릭1</button>
    <button type="submit" onclick="sample2()">클릭2</button><br>

    <input type="text" id="name" name="name"><br>
    <input type="text" id="age" name="age"><br>
    <input type="radio" name="gender" value="male">남
    <input type="radio" name="gender" value="female">여<br>

    <button type="button" onclick="sample3()">클릭3</button>
    <button type="button" onclick="sample4()">클릭4</button>
    <button type="button" onclick="sample5()">클릭5</button>
    <button type="button" onclick="sample6()">클릭6</button>

    <h3 id="hello"></h3>
    <h3 id="name1"></h3>
    <h3 id="age1"></h3>
    <h3 id="gender1"></h3>

    <div id="info">

    </div>

    <input type="text" id="comment" name="comment"><br>
    <button type="button" onclick="sample7()">클릭7</button>


    <div id="commentList">
        <div th:each="comment : ${commentList}">
            <p th:text="${comment}"></p>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

    function sample1(){

        const url = "/sample1";

        fetch(url, {
            method: 'GET',
        })
        .then((response) => response.text())
        .then((response) => {
            document.getElementById("hello").innerHTML = response;
        })
    }

    function sample2(){

        const url = "/sample2";

        fetch(url, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(response => {
            document.getElementById("name1").innerHTML = response.name;
            document.getElementById("age1").innerHTML = response.age;
            document.getElementById("gender1").innerHTML = response.gender;
        })
    }

    function sample3(){

        const url = "/sample3";
        const name = document.getElementById("name").value;
        const age = document.getElementById("age").value;
        const tmp = document.getElementsByName("gender");
        let gender;

        if(tmp[0].checked){
            gender = tmp[0].value;
        }else if(tmp[1].checked){
            gender = tmp[1].value;
        }

        fetch(url, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({
                name : name,
                age : age,
                gender : gender,
            }),
        })
        .then(response => response.json())
        .then(response => {
            document.getElementById("name1").innerHTML = response.name;
            document.getElementById("age1").innerHTML = response.age;
            document.getElementById("gender1").innerHTML = response.gender;
        })
    }

    function sample4(){

        const url = "/sample4";
        const name = document.getElementById("name").value;
        const age = document.getElementById("age").value;
        const tmp = document.getElementsByName("gender");
        let gender;

        if(tmp[0].checked){
            gender = tmp[0].value;
        }else if(tmp[1].checked){
            gender = tmp[1].value;
        }

        const form = new FormData();
        form.set("name", name);
        form.set("age", age);
        form.set("gender", gender);

        fetch(url,{
            method: "POST",
            body: form,
        })
        .then(response => response.json())
        .then(response => {
            document.getElementById("name1").innerHTML = response.name;
            document.getElementById("age1").innerHTML = response.age;
            document.getElementById("gender1").innerHTML = response.gender;
        })

    }

    function sample5(){

        const url = "/sample5";

        fetch(url,{
            method: "GET",
        })
        .then(response =>{
            if(response.ok){
                alert("success")
            }else{
                alert("fail")
            }
        })

    }

    async function sample6(){

        const url = "/sample6";

        const response = await fetch(url,{
            method: "GET",
        });
        let result;

        if(response.ok){
            result = await response.json();
        }else{
            alert("error");
        }

        const ul = document.getElementById("info");

        for(key in result){
            const li = document.createElement("li");
            li.innerHTML = `이름 : ${result[key].name} / 나이 : ${result[key].age} / 성별 : ${result[key].gender}`;
            ul.appendChild(li);
        }

    }

    async function sample7(){

        const url = "/sample7";
        const comment = document.getElementById("comment").value;

        const formData = new FormData();
        formData.set("comment", comment);

        const response = await fetch(url,{
            method: "POST",
            body: formData,
        });
        let result = await response.text();

        $('#commentList').replaceWith(result);
    }


</script>
</html>